In [14]:
!pip install mysql-connector-python
!pip install sqlalchemy
!pip install pandas sqlalchemy pymysql

Requirement already satisfied: mysql-connector-python in c:\users\er. rahul\appdata\local\programs\python\python313\lib\site-packages (9.4.0)
Requirement already satisfied: sqlalchemy in c:\users\er. rahul\appdata\local\programs\python\python313\lib\site-packages (2.0.43)
Requirement already satisfied: greenlet>=1 in c:\users\er. rahul\appdata\local\programs\python\python313\lib\site-packages (from sqlalchemy) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\er. rahul\appdata\local\programs\python\python313\lib\site-packages (from sqlalchemy) (4.15.0)
Requirement already satisfied: pandas in c:\users\er. rahul\appdata\local\programs\python\python313\lib\site-packages (2.3.2)
Requirement already satisfied: sqlalchemy in c:\users\er. rahul\appdata\local\programs\python\python313\lib\site-packages (2.0.43)
Requirement already satisfied: pymysql in c:\users\er. rahul\appdata\local\programs\python\python313\lib\site-packages (1.1.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\er. rahul\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\er. rahul\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\er. rahul\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\er. rahul\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: greenlet>=1 in c:\users\er. rahul\appdata\local\programs\python\python313\lib\site-packages (from sqlalchemy) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\er. rahul\appdata\local\programs\python\python313\lib\site-packages (from sqlalchemy) (4.15.0)
Requirement already satisfied: six>=1.5 in c:\users\er. rahul\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [15]:
import pandas as pd
from sqlalchemy import create_engine, types

In [27]:
import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="0420",
)
print(mydb)
conn = mydb.cursor(buffered=True)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000020CC62B6D50>

In [17]:
engine = create_engine(f"mysql+pymysql://root:0420@localhost/agri_ICMR", echo=False)

In [19]:
conn.execute("create database agri_ICMR")
mydb.commit()

In [20]:
# switch to the database and create the table (if not exists) using the existing cursor `conn`
conn.execute("USE agri_ICMR")

create_table_sql = """
CREATE TABLE IF NOT EXISTS agriICMR (
    State_Name VARCHAR(255),
    District_Name VARCHAR(255),
    Year INT,
    Season VARCHAR(100),
    Crop VARCHAR(255),
    Area FLOAT,
    Production FLOAT,
    Yield FLOAT
)
"""
conn.execute(create_table_sql)
mydb.commit()
print("Table 'agriICMR' created or already exists in database 'agri_ICMR'.")

Table 'agriICMR' created or already exists in database 'agri_ICMR'.

In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import plotly.express as px
data = pd.read_csv("D:\\agri_project\\cleaned_data (3).csv")
display(data)

,Dist_Code,Year,State_Code,State_Name,Dist_Name,RICE_AREA_1000_ha,RICE_PRODUCTION_1000_tons,RICE_YIELD_Kg_per_ha,WHEAT_AREA_1000_ha,WHEAT_PRODUCTION_1000_tons,...,SUGARCANE_YIELD_Kg_per_ha,COTTON_AREA_1000_ha,COTTON_PRODUCTION_1000_tons,COTTON_YIELD_Kg_per_ha,FRUITS_AREA_1000_ha,VEGETABLES_AREA_1000_ha,FRUITS_AND_VEGETABLES_AREA_1000_ha,POTATOES_AREA_1000_ha,ONION_AREA_1000_ha,FODDER_AREA_1000_ha
0,1,1966,14,Chhattisgarh,Durg,548.00,185.00,337.59,44.00,20.00,...,1777.78,0.0,0.0,0.0,5.95,6.64,12.59,0.01,0.60,0.47
1,1,1967,14,Chhattisgarh,Durg,547.00,409.00,747.71,50.00,26.00,...,1500.00,0.0,0.0,0.0,5.77,7.24,13.02,0.01,0.56,1.23
2,1,1968,14,Chhattisgarh,Durg,556.30,468.00,841.27,53.70,30.00,...,1000.00,0.0,0.0,0.0,5.41,7.40,12.81,0.10,0.58,1.02
3,1,1969,14,Chhattisgarh,Durg,563.40,400.80,711.40,49.40,26.50,...,1900.00,0.0,0.0,0.0,5.52,7.16,12.69,0.01,0.56,0.84
4,1,1970,14,Chhattisgarh,Durg,571.60,473.60,828.55,44.20,29.00,...,2000.00,0.0,0.0,0.0,5.45,7.19,12.64,0.02,0.52,0.42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16141,917,2013,15,Jharkhand,Singhbhum,267.06,579.70,2170.67,1.53,1.85,...,0.00,0.0,0.0,0.0,0.00,9.02,9.03,0.48,0.08,0.00
16142,917,2014,15,Jharkhand,Singhbhum,256.33,586.63,2288.57,5.36,6.65,...,0.00,0.0,0.0,0.0,0.00,8.63,8.64,0.46,0.04,0.00
16143,917,2015,15,Jharkhand,Singhbhum,263.21,264.71,1005.70,1.99,1.82,...,0.00,0.0,0.0,0.0,0.00,6.84,6.85,0.42,0.01,0.00
16144,917,2016,15,Jharkhand,Singhbhum,224.05,319.01,1423.84,0.38,0.83,...,0.00,0.0,0.0,0.0,0.03,6.40,6.43,0.03,0.01,0.00
16145,917,2017,15,Jharkhand,Singhbhum,386.91,669.97,1731.62,0.00,0.00,...,0.00,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00,0.00

In [22]:
data.to_sql(
    name='agridata',
    con=engine,
    if_exists='replace',  # or 'append' if the table already exists
    index=False,
    dtype={
        'State_Name': types.VARCHAR(length=255),
        'District_Name': types.VARCHAR(length=255),
        'Year': types.INTEGER(),
        'Season': types.VARCHAR(length=100),
        'Crop': types.VARCHAR(length=255),
        'Area': types.FLOAT(),
        'Production': types.FLOAT(),
        'Yield': types.FLOAT()
    }
)

16146

In [23]:
conn.execute("SELECT * FROM agri_ICMR.agridata")
rows = conn.fetchall()